@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.logo {
  font-family: "Oxygen", serif;
}
.hide-scrollbar {
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slick-track {
  display: flex !important;
  gap: 10px;
}
.thumb .slick-current img {
  border: 3px solid #38b854;
  border-radius: 5px;
}
.slick-arrow.slick-next {
  right: -20;
}
.slick-arrow.slick-prev {
  left: -20;
}
.slick-arrow.slick-next::before,
.slick-arrow.slick-prev::before {
  color: #38b854;
}