#logo{
  width: 150px;
}
#addproduct {
  width: 80%;
}
#addproduct form {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  border: 2px solid;
  gap: 10px;
  height: 80vh;
  overflow-y: scroll;
}
#addproduct form p {
  text-align: right;
  padding: 5px;
  color: #1976d2;
  cursor: pointer;
  font-weight: bold;
}
#addproduct form textarea {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
}
#addproduct form textarea:hover {
  border-color: black;
}
#ecategory,
#mimage {
  padding: 10px;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}
button[aria-selected="false"] {
  color: white;
  font-weight: 700;
}
button[aria-selected="true"] {
  font-weight: 700;
  color: #00e8be;
}
span {
  background-color: transparent !important;
}
td {
  text-align: center;
}
td:first-child {
  width: 40%;
}
table{
  height: 80vh;
}
tbody tr:hover {
  background-color: rgb(206, 242, 245);
}
thead tr {
  background-color: black;
  color: white;
  position: sticky;
  top: 100px;
}
th {
  padding-top: 15px;
  padding-bottom: 15px;
}
#edit,
#delete,#view {
  background-color: red;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: small;
  font-weight: 600;
  cursor: pointer;
}
#edit {
  background-color: #1976d2;
}
#view{
  background-color: #ffbd03;
}
.right{
  margin-left: 300px;
}