* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}
.sdiv {
  width: 85%;
  margin: auto;
}
.sdiv p {
  font-size: 24px;
  color: white;
  margin: 45px 10px 10px;
  font-weight: 600;
}
.sd {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.sd img {
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 10px;
}
#foal {
  color: white;
  display: flex;
  justify-content: space-evenly;
  > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    font-weight: bolder;
    padding: 20px 0;
  }
  & img {
    width: 20%;
  }
  & p {
    font-size: 20px;
  }
  & span {
    font-size: 12px;
  }
}
@media screen and (min-width: 866px) and (max-width: 1024px) /* Laptop */ {
}
@media screen and (min-width: 481px) and (max-width: 865px) /* Tablet */ {
  #mainbanner {
    height: 35vh;
  }
  #foal {
    > div {
      flex-direction: column;
      width: 30%;
    }
    & img {
      width: 30%;
      display: block;
      margin-right: 50%;
    }
  }
}
@media screen and (max-width: 480px) /* Mobile */ {
  #mainbanner {
    display: block;
    margin: auto;
    aspect-ratio: 16/6;
    object-fit: cover;
  }
  #new img {
    width: 90%;
    height: 20%;
  }
  .sd {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .sd img {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
  }
  #foal {
    > div {
      flex-direction: column;
      align-items: flex-start;
    }
    & img {
      width: 30%;
    }
  }
  #foal {
    > div {
      flex-direction: column;
      align-items: center;
      width: 30%;
      text-align: center;
    }
    & img {
      width: 40%;
    }
    & p {
      font-size: 12px;
    }
    & span {
      font-size: 10px;
    }
  }
}
@media screen and (max-width: 320px) /* Mobile */ {
  #foal {
    > div {
      flex-direction: column;
      align-items: center;
      width: 40%;
      text-align: center;
    }
  }
}
