#modal {
  & button[aria-selected="true"] {
    color: white;
    border: 1px solid white;
  }
  & span {
    background-color: transparent;
  }
  & #loginForm,
  #ca {
    display: flex;
    flex-direction: column;
    & label {
      font-size: 18px;
      color: white;
      margin-top: 10px;
    }
    & p {
      display: flex;
      align-items: center;
      color: red;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    & input {
      height: 6vh;
      margin-top: 10px;
      border-radius: 5px;
      border: 0;
      padding-left: 10px;
      font-size: 16px;
    }
    & input[type="submit"] {
      background-color: #00e9bc;
      color: black;
      font-size: 16px;
      font-weight: 600;
      width: 50%;
      margin: auto;
      margin-top: 10px;
      cursor: pointer;
    }
    & small {
      margin: auto;
      padding: 15px;
      font-size: medium;
      font-weight: 600;
      color: #00e9bc;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
#drawer {
  position: fixed;
  background-color: #121313;
  width: 30%;
  left: 10%;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 100px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
#drawer::-webkit-scrollbar {
  width: 5px;
}
#drawer::-webkit-scrollbar-track {
  background: #121313;
}
#drawer::-webkit-scrollbar-thumb {
  background: #00e8be;
  cursor: pointer;
}
#drawer p {
  font-size: 20px;
  font-weight: 700;
}
#drawer summary {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
#drawer summary:hover,
#drawer small:hover {
  background-color: #00e8be;
}
#drawer small {
  padding: 5px;
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
  padding-left: 20px;
}
@media screen and (min-width: 866px) and (max-width: 1024px) /* Laptop */ {
  #drawer {
    width: 40%;
  }
}
@media screen and (min-width: 481px) and (max-width: 865px) /* Tablet */ {
  #drawer {
    width: 70%;
  }
}
@media screen and (max-width: 480px) /* Mobile */ {
  #drawer {
    width: 90%;
    left: 0;
  }
}
