#whole {
  display: flex;
  background-color: #121212;
  padding-left: 100px;
  padding-top: 50px;
  gap: 10px;
  min-height: 32.8vh;
  padding-bottom: 50px;
}
#whole h1 {
  color: white;
}
#mainbody {
  background-color: #121212;
  padding-right: 100px;
  width: 90%;
  min-height: 60vh;
  padding-bottom: 100px;
}
#mainbody #name {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}
#mainbody #name p {
  font-size: 30px;
  font-weight: 600;
}
#mainbody #name small {
  font-size: 20px;
}
#pmain {
  display: flex;
  flex-direction: column;
  width: 70%;
}
#p {
  display: flex;
  width: 100%;
  border-bottom: 0.01px solid gray;
  padding: 10px;
  justify-content: space-between;
  padding-top: 30px;
  cursor: pointer;
}
#p:hover {
  background-color: #292929;
}
#pimg {
  display: flex;
  flex-direction: column;
  color: white;
}
#pimg img {
  width: 200px;
  display: block;
  margin: auto;
}
#pimg label {
  margin: auto;
}
#ptitle {
  color: white;
  font-weight: 500;
  font-size: 20px;
}
#pof {
  color: white;
  font-weight: 500;
  font-size: 26px;
  padding-top: 10px;
}
#pprice {
  display: flex;
  color: white;
  align-items: center;
  gap: 15px;
  padding-top: 10px;
}
#pprice strike,
#pprice small {
  color: gray;
  font-size: 15px;
}
#pprice small {
  color: gray;
  font-size: 12px;
}
#pprice p {
  border: 1px solid gray;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 600;
  width: 100px;
  text-align: center;
}
#pheart {
  color: white;
}
#pheart:hover {
  color: #00e8be;
}
#bn {
  padding-top: 20px;
}
#list {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#list ul li {
  list-style: none;
  font-size: 14px;
}
#list ul li.selected {
  color: #00e8be;
}
#bn button {
  margin-right: 20px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #353434;
  color: white;
}
#bn :first-child {
  border: 0;
  background-color: #12daa8;
  color: #191919;
}
@media screen and (min-width: 866px) and (max-width: 1024px) /* Laptop */ {
  #whole {
    display: flex;
    background-color: #121212;
    padding-left: 50px;
    padding-top: 30px;
    gap: 10px;
  }
  #mainbody {
    width: 100%;
    min-height: 60vh;
    padding-bottom: 100px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 481px) and (max-width: 865px) /* Tablet */ {
  #priceFilter {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    & input {
      width: 35%;
      font-size: 16px;
      padding: 10px;
      padding-left: 5px;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 5px;
      outline: none;
      color: white;
    }
    & input::-webkit-outer-spin-button,
    & input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    & button {
      height: 50%;
      background-color: #00e8be;
      border: 0;
      outline: none;
      display: flex;
    }
  }
  #brand {
    display: flex;
    flex-direction: column;
  }
  #whole {
    display: flex;
    background-color: #121212;
    padding-left: 50px;
    padding-top: 20px;
    gap: 10px;
  }
  #mainbody {
    width: 100%;
    min-height: 60vh;
    padding-bottom: 100px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 480px) /* Mobile */ {
  #priceFilter {
    display: grid;
    margin: auto;
    gap: 10px;
    align-items: center;
    height: 200px;
    & input {
      width: 100%;
      font-size: 16px;
      padding: 10px;
      padding-left: 5px;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 5px;
      outline: none;
      color: white;
    }
    & input::-webkit-outer-spin-button,
    & input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    & button {
      height: 50%;
      background-color: #00e8be;
      border: 0;
      outline: none;
      display: flex;
      width: 50%;
      margin: auto;
      justify-content: center;
    }
  }
  #brand {
    display: flex;
    flex-direction: column;
  }
  #whole {
    background-color: #121212;
    padding-left: 0px;
    padding-top: 10px;
    gap: 10px;
    & h1 {
      text-align: center;
      padding-left: 20px;
    }
  }
  #mainbody {
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  #mainbody #name p {
    font-size: 25px;
    font-weight: 600;
  }
  #mainbody #name small {
    font-size: 15px;
  }
  #p {
    display: flex;
    border-bottom: 0.01px solid gray;
    gap: 10px;
  }
  #pmain {
    margin-top: 20px;
    padding-top: 12px;
  }
  #ptitle {
    font-weight: 600;
    font-size: 16px;
    width: 110%;
  }
  #pimg {
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 20px;
  }
  #pimg img {
    width: 100px;
  }
  #pimg span {
    font-size: 12px;
  }
  #pof {
    font-weight: 700;
    font-size: 20px;
  }
  #pprice {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 120%;
  }
  #pprice strike,
  #pprice small {
    color: gray;
    font-size: 12px;
  }
  #pprice p {
    border: 1px solid gray;
    padding: 1px;
    border-radius: 5px;
    font-weight: 600;
    text-align: center;
    width: 70px;
  }
  #pheart {
    position: relative;
  }
  #bn {
    display: none;
  }
}
